@font-face {
    font-family: 'EuropeExt';
    src: local('EuropeExt'), local('EuropeExt'), url('/fonts/EuropeExt.woff2') format('woff2'), url('/fonts/EuropeExt.woff') format('woff'), url('/fonts/EuropeExt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Clear Sans', arial;
    text-transform: uppercase;
}

body {
    line-height: 1.5;
}

a {
    color: #000;
}

button {
    cursor: pointer;
}

.center {
    text-align: center;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

/* Navigation */

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    min-height: 120px; /*Следи за размером отступа*/
    position: fixed;
    min-width: 100vw;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.navigation__logo {
    line-height: 0;
    flex-basis: 200px;
    text-align: center;
}

.navigation__logo img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}


.navigation__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.navigation ul:first-of-type {
    flex-grow: 1;
    justify-content: center;
}

.navigation__list li {
    list-style: none;
}

.navigation__list li a {
    padding: 10px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.navigation__list li a:hover {
    color: #852FAE;
}

.navigation__phone {
    list-style: none;
    flex-basis: 250px;
    text-align: center;
    padding: 0;
}

.navigation__phone li {
    list-style: none;
}

.navigation__phone li a {
    padding: 10px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.navigation__phone li a:hover {
    color: #852FAE;
}


/* Header */

.header {
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: url("/img/header_image.jpg") 50% 50% no-repeat;
}

.header h1 {
    position: relative;
    color: #fff;
    text-align: center;
    width: 75%;
    letter-spacing: 2px;
    font-size: 3vw;
    font-weight: normal;
    padding: 15px 35px 15px 35px;
    outline: none;
    font-family: 'EuropeExt', sans-serif;
}

.header h2, h3 {
    position: relative;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    font-weight: normal;
    font-family: Arial, serif;
    margin: 5px;
}


/* Main */


/* Footer */

.footer {
    position: absolute;
    min-width: 100%;
    display: flex;
    bottom: 0;

}

.footer p {
    text-align: center;
    flex-grow: 1;
    color: #fff;
    text-transform: none;
}

/* Media */